body{
  background-color: var(--app-bg-color);
}


/* ========== NAVBAR STYLES ========== */
.navbar{
  border-bottom: 1px solid black;
}
.nav-link {
  padding: 1rem;
}
/* ========== SIDEBAR STYLES ========== */
.sidebar-container{
  background-color: #fdfffa;
  border-right: 1px solid black;
}