body {
  background-color: var(--app-bg-color);
}

/* ========== NAVBAR STYLES ========== */
.navbar-container {
  background-color: #fff;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.nav-logo img {
  width: 50px;
}

.menu-icon {
  font-size: 20px;
  cursor: pointer;
}
/* ========== SIDEBAR STYLES ========== */
.sidebar-container {
  position: fixed;
  width: 250px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding-top: 5rem;
  height: 100%;
  z-index: 1;
  top: -100%;
  transition: top 0.4s;
}
.sidebar-container .nav {
  padding: 2rem 0;
}
.sidebar-container .nav-link {
  color: #858282;
  font-size: 16px;
  border-radius: 10px;
  margin: 0 1rem;
}
.sidebar-container .nav-link-icon {
  font-size: 20px;
}
.sidebar-container .nav-link:hover {
  color: #000;
  background-color: #e2e2e2;
}

/* ========== MAIN CONTAINER STYLES ========== */
.main-container {
  padding-top: 6rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.show {
  top: 0;
}

/* ========== TASK STYLES ========== */
.task-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%; /* Ensure container takes full width of parent */
}

.task-item {
  padding: 20px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 10px;
}

.task {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.add-icon {
  font-size: 25px;
  cursor: pointer;
}

.task-header {
  margin-bottom: 10px;
}

.task-title {
  font-weight: bold;
  font-size: 18px;
  width: 80%;
}

.task-status-new {
  background-color: var(--new-task-bg-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.task-status-ongoing {
  background-color: var(--ongoing-task-bg-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.task-status-done {
  background-color: var(--done-task-bg-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.task-body {
  margin-bottom: 10px;
  width: 100%;
}

.task-due-date {
  margin-bottom: 10px;
}

.task-footer {
  display: flex;
  justify-content: space-between;
}

.task-btn-grp {
  display: flex;
  gap: 10px;
}

/* ========== RESPONSIVE STYLES ========== */
@media (max-width: 991.98px) {
  .main-container {
    padding-top: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
